* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 2rem auto;
    color: #333;
    width: 80vw;
}

a {
    border-bottom: 1px dotted blue;
    color: blue;
    text-decoration: none;
}

li.selected {
    color: blue;
}